@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #191919;
  color: #ffffff;
  width: 100%;
  overflow-x: hidden;
}

h1 {
  font-family: "DM Serif Text", serif;
  font-size: 4rem;
  margin: 0;
}

h2 {
  font-family: "DM Serif Text", serif;
  font-size: 2rem;
  color: #f5d0c5;
  margin: 0;
}

p {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
  line-height: 1.5rem;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.9rem;
  }
}

#root {
  width: 100%;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 8vh 10vw;
  background: linear-gradient(
      to bottom,
      #191919a7 0%,
      #1919196d 80%,
      #19191900 100%
    ),
    linear-gradient(
      to bottom,
      #f5d0c576 0%,
      #f5d0c526 40%,
      #f5d0c503 80%,
      #f5d0c500 90%
    );
  backdrop-filter: blur(1px), brightness(0.2);
  color: #191919;
  font-family: "DM Serif Text", serif;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 5rem;
  z-index: 1;
  box-sizing: border-box;
}

.navbar-align {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navbar-logo {
  color: #f5d0c5;
}

.navbar-links {
  display: flex;
  gap: 2rem;
}

@media screen and (max-width: 768px) {
  .navbar-links {
    gap: 0.5rem;
  }
}

.navbar-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.navbar-button {
  background-color: #19191900;
  color: #ffffff;
  border: none;
  padding: 0.5rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  cursor: pointer;
}

.navbar-button-hover {
  opacity: 0;
  width: 6rem;
  height: 0.2rem;
  background-color: #f5d0c5;
  box-shadow: #f5d0c5 0 0 5px;
  transition: opacity 0.5s ease;
}

@media screen and (max-width: 768px) {
  .navbar-button-hover {
    width: 5rem;
  }
}

.home-button {
  cursor: default;
}

.resume-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4;
  pointer-events: none;
}

.disabled-pointer {
  pointer-events: auto;
  backdrop-filter: blur(2px);
}

.resume-modal {
  width: 30rem;
  height: 20rem;
  background-color: #f5d0c5;
  box-shadow: #ffffff 0 0 10px;
  z-index: 5;
  display: flex;
  flex-direction: column;
  opacity: 0;
}

@media screen and (max-width: 768px) {
  .resume-modal {
    width: 20rem;
    height: 18rem;
  }
}

.opacity {
  opacity: 1;
  transition: opacity 0.5s ease;
}

body.modal-open {
  position: fixed;
  width: 100%;
  overflow-y: scroll;
}

.password-container {
  padding: 1rem 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

@media screen and (max-width: 768px) {
  .password-container {
    padding: 1rem 2.5rem;
    gap: 2rem;
  }
}

.resume-button-container {
  padding: 1rem 2rem 0.5rem 0;
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 768px) {
  .resume-button-container {
    padding: 1rem 2rem 0 0;
  }
}

.resume-close-button {
  position: relative;
  background: none;
  border: none;
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  /* z-index: 5; */
  padding: 0;
  line-height: 1;
  transition: all 0.3s ease;
}

.resume-close-button:hover {
  color: #191919;
  transition: all 0.3s ease;
}

.password-input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.password-title {
  font-family: "DM Serif Text", serif;
  color: #191919;
}

.password-input {
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #ffffff;
  background-color: transparent;
  font-family: "Inter", sans-serif;
}

.password-input:focus {
  outline: none;
  border-bottom: 2px solid #191919;
}

.password-incorrect-placeholder {
  font-weight: 300;
  font-style: italic;
  color: #191919;
}

.resume-submit-button {
  width: 14rem;
  background-color: #f5d0c5;
  color: #191919;
  border: solid 2px #191919;
  padding: 0.5rem 2rem;
  font-family: "DM Serif Text", serif;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.8s ease;
}

.resume-submit-button:hover {
  background-color: #191919;
  color: #f5d0c5;
  box-shadow: #191919 0 0 8px;
  border: solid 2px #191919;
  transition: all 0.8s ease;
}

.cards-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5rem;
  padding: 5vh 10vw;
}

@media screen and (min-width: 768px) {
  .cards-container {
    padding: 5vh 16vw;
  }
}

.heading-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: auto;
  margin-bottom: 4rem;
  margin-top: 1rem;
  width: 100%;
  height: 80vh;
}

@media screen and (max-width: 768px) {
  .heading-card {
    margin-top: 5rem;
    flex-direction: column;
    align-items: center;
    height: auto;
    gap: 4rem;
  }
}

.heading-text {
  display: flex;
  flex-direction: column;
}

.heading-title {
  line-height: 6rem;
}

@media screen and (max-width: 768px) {
  .heading-title {
    line-height: 5rem;
  }
}

.name-shadow {
  text-shadow: 0 0 5px #f5d0c5;
}

.heading-subtitle {
  color: #f5d0c5;
}

.profile-image {
  display: flex;
  height: 25rem;
  margin-right: 2rem;
}

@media screen and (max-width: 768px) {
  .profile-image {
    height: 18rem;
  }
}

.bio-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10rem;
  height: auto;
  margin-bottom: 12rem;
}

@media screen and (max-width: 768px) {
  .bio-card {
    justify-content: flex-start;
    gap: 3rem;
  }
}

.bio-vertical-line {
  height: 20rem;
  border-left: 3px solid #f5d0c5;
  box-shadow: 0 0 5px #f5d0c5;
}

.bio-text {
  width: 50%;
}

@media screen and (max-width: 768px) {
  .bio-text {
    width: 100%;
  }
}

.projects-card {
  display: flex;
  flex-direction: column;
  height: auto;
  margin-bottom: 12rem;
  width: 100%;
}

.title-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 5rem;
}

.title {
  color: #f5d0c5;
}

.project-subtitle {
  font-weight: 200;
  font-style: italic;
}

.projects-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 6rem;
}

.project-item {
  display: flex;
  width: 30rem;
  flex-direction: row;
  align-items: center;
  gap: 4rem;
}

@media screen and (max-width: 768px) {
  .project-item {
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 2rem;
  }
}

.project-mp4 {
  display: block;
  width: 150px;
  cursor: pointer;
}

.project-description {
  display: flex;
  flex-direction: column;
  width: 19rem;
  gap: 1.5rem;
}

.project-text {
  font-weight: 300;
}

.project-apps {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.project-app-logo {
  height: 2rem;
}

.other-projects {
  display: flex;
  flex-direction: row;
  width: 30rem;
  align-items: center;
  justify-content: center;
}

.button-other-projects {
  background-color: #191919;
  color: #f5d0c5;
  border: #f5d0c5 solid 3px;
  border-radius: 0;
  padding: 0.5rem 2rem;
  font-family: DM Serif Text, serif;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.8s ease;
}

.button-other-projects:hover {
  background-color: #f5d0c5;
  border: #f5d0c5 solid 3px;
  border-radius: 0;
  color: #191919;
  box-shadow: 0 0 8px #f5d0c5;
  transition: 0.8s ease;
}

.random-dump-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: auto;
  margin-bottom: 12rem;
  width: 100%;
}

.random-dump-list {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

@media screen and (max-width: 768px) {
  .random-dump-list {
    gap: 8rem;
  }
}

.random-dump-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .random-dump-item {
    flex-direction: column;
    gap: 2rem;
  }
}

.random-dump-description {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.random-dump-title {
  letter-spacing: 2%;
}

.random-dump-subtitle {
  font-weight: 200;
  width: 25rem;
}

@media screen and (max-width: 768px) {
  .random-dump-subtitle {
    width: 100%;
  }
}

.italic {
  font-style: italic;
}

.random-dump-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.5rem;
}

@media screen and (max-width: 768px) {
  .random-dump-images {
    justify-content: flex-start;
    gap: 2rem;
  }
}

.random-dump-image {
  width: 7rem;
  cursor: pointer;
  transition: opacity 0.8s ease;
}

.random-dump-image:hover {
  opacity: 0.3;
  transition: opacity 0.8s ease;
}

.contact-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  border: #f5d0c5 solid 3px;
  border-radius: 0;
  padding: 5rem 5rem;
  gap: 2rem;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 5rem;
}

@media screen and (max-width: 768px) {
  .contact-card {
    height: auto;
    padding: 2rem 2rem;
  }
}

.contact-text-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contact-text {
  letter-spacing: 2%;
}

.contact-button-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-bottom: 2rem;
}

.contact-button {
  width: 2rem;
}

.slide-in {
  opacity: 0;
  transition: all 1.5s ease-in;
}

.step-in {
  opacity: 0;
  transition: all 1.5s, opacity 400ms;
}

.left {
  transform: translateX(-300px);
}

.right {
  transform: translateX(300px);
}

@media screen and (max-width: 768px) {
  .left {
    transform: translateX(-200px);
  }
  .right {
    transform: translateX(200px);
  }
}

.show {
  transform: translateX(0);
  opacity: 1;
}
